[Package]
version: 1
depends: 
incremental: False

[Product]
type: localboot
id: winscp
name: WinSCP
description: Open source free SFTP client and FTP client for Windows
advice: MPIMSP/Borrmann
version: 5.5.4
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup.ins
uninstallScript: uninstall.ins
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[Changelog]
 * SAVE COMMENT: initial version

 -- Mike Borrmann <borrmann@mpi-halle.mpg.de> Wed, 20 August 2014 14:05:00 + 0100

